
body{
    margin: 0;
    font-family:  Palatino, serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color:inherit;
}

a:hover{
    text-decoration: underline;
}

/* GRID CONTAINER */
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px .5fr 1fr 1fr 200px;
    grid-gap: 10px 10px;
    padding-left: 50px;
    padding-right: 50px;
}

/* NAV TABS */

.navbar{
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

.tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}

.tabbutton{
    border: none;
    outline: none;
    padding: 5px;
    width: 15%;
    font-size: 0.8em;
}

.tabs .logo{
    width: 55%;
}

.tabbutton:hover{
    background-color: silver;
}

.logopic{
    max-height: 50px;
    float: left;
    padding-left: 10px;
}

/* CONTENT SECTION */

/* INTRO */

.Intro {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-gap: 10px 10px;
}

.Intro > .name{
    grid-row: 1 / 2;
    text-align: center;
}

.Intro > .desc{
    grid-row: 2 / 3;
    text-align: center;
}

/* PROJECTS */

.Projects{
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr;
    grid-gap: 10px 10px;
}

.Projects > .slogan{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    /* text-align: center; */
}

.projectlist{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    padding-left: 0px;
    margin: 0px;
    list-style:none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr 1fr;
    grid-gap: 10px 10px;
    color: #666;
}

.a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.a:hover{
    border: 1px solid silver;
}

.b {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.b:hover{
    border: 1px solid silver;
}

.c {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.c:hover{
    border: 1px solid silver;
}

.d {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

/* ARTICLES */

.Articles{
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr;
    grid-gap: 10px 10px;
}

.Articles > .slogan{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.articlelist{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    padding-left: 0px;
    margin: 0px;
    list-style:none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px 10px;
    color: #666;
}

.Contact{
    grid-column: 1 / 13;
    grid-row: 5 / 6;
}

.e{
    grid-row: 1 / 2;
}
.e:hover{
    border: 1px solid silver;
}
.f{
    grid-row: 2 / 3;
}
.f:hover{
    border: 1px solid silver;
}

.g{
    grid-row: 3 / 4;
}
.g:hover{
    border: 1px solid silver;
}

.h{
    grid-row: 4 / 5;
    text-align: center;
}

/* CONNECTIONS */

.contacticons{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacticons a{
    padding: 5px;
}
